
@using Elevate.Models.DatabaseKlase
@model Auto
@{
    ViewBag.Title = ViewBag.Data.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-md-4">
        <section>
            <h2>@ViewBag.Data.Model</h2>
            <hr />

            <div class="form-group">
                <label asp-for="Model" style="font-weight: bold"></label>: @ViewBag.Data.Model
            </div>
            <div class="form-group">
                <label asp-for="GodinaProizvodnje" style="font-weight: bold"></label>: @ViewBag.Data.GodinaProizvodnje
            </div>
            <div class="form-group">
                <label asp-for="VrstaGoriva" style="font-weight: bold"></label>: @ViewBag.Data.VrstaGoriva.Naziv
            </div>
            <div class="form-group">
                <label asp-for="SnagaMotora" style="font-weight: bold"></label>: @ViewBag.Data.SnagaMotora KW (@((int)(100 * ViewBag.Data.SnagaMotora * ViewBag.KOLIKO_IMA_KS_U_KW) / 100.0) KS)

            </div>
            <div class="form-group">
                <label asp-for="BrojSasije" style="font-weight: bold"></label>: @ViewBag.Data.BrojSasije
            </div>
            <div class="form-group">
                <label asp-for="BrojMotora" style="font-weight: bold"></label>: @ViewBag.Data.BrojMotora
            </div>

            <div style="display: inline-block; width: 100%; margin-bottom: 2vh">
                @Html.ActionLink("Ažuriraj auto", "AzurirajAuto", "Automobili", new { autoId = ViewBag.Data.Id }, new { @class = "btn btn-primary", @style = "float:right" })

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#BootstrapModalId">Obriši auto</button>

            </div>
        </section>
    </div>
    <div class="col-md-8">
        <section>
            <div style="width: 100%">
                <h2 style="display: inline-block">Historija naloga</h2>
                @Html.ActionLink("Kreiraj nalog za ovo auto", "DodajNalog", "Nalog", new { autoId = ViewBag.Data.Id }, new { @class = "btn btn-success", @style = "float:right;vertical-align:top" })


            </div>

            <hr />

            <table id="myTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Datum početka najma</th>
                        <th>Datum završetka najma</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Nalog item in ViewBag.Data.Nalozi)
                    {
                        <tr onmouseover="this.style.cursor='pointer'" onclick="window.location.href = ('@Url.Action("PrikazNaloga","Nalog", new { nalogID=item.Id })')">
                            <th>@item.VrijemePocetak</th>
                            <th>@item.VrijemeKraj</th>
                            <th>@item.NalogStatus.Naziv</th>
                        </tr>
                    }
                </tbody>
            </table>


        </section>
    </div>

    <div id="BootstrapModalId" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    Da li ste sigurni da želite obrisati ovaj automobil?
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Obriši auto", "ObrisiAuto", "Automobili", new { autoId = ViewBag.Data.Id }, new { @class = "btn btn-danger btn-update" })

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "sEmptyTable": "Nema naloga za ovaj automobil",
                    "sInfo": "_START_-_END_ od ukupno _TOTAL_ redova",
                    "sInfoEmpty": "0-0 od ukupno 0 redova",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Prikaz _MENU_ redova",
                    "sLoadingRecords": "Učitavanje...",
                    "sProcessing": "Procesiranje...",
                    "sSearch": "Traži:",
                    "sZeroRecords": "Nema odgovarajućih rezultata",
                    "oPaginate": {
                        "sFirst": "Prva",
                        "sLast": "Zadnja",
                        "sNext": "Sljedeća",
                        "sPrevious": "Prethodna"
                    },
                    "oAria": {
                        "sSortAscending": ": sortiraj kolonu rastuće",
                        "sSortDescending": ": sortiraj kolonu opadajuće"
                    }
                }
            });;//myTable is the id of the table to be displayed as dataTable
            $('div.dataTables_filter label input').css("display", "inline-block");
            $('div.dataTables_filter label input').css("width", "auto");
            $('div.dataTables_length label select').css("display", "inline-block");
            $('div.dataTables_length label select').css("width", "auto");
        });

    </script>
}


